.messageClient{
    height: 50px;
    width: 100%;
    background: blueviolet;
    padding: 2px;
    margin: auto;
}
.messageClient:hover{
    background-color: coral;
}
.messageClientSelected{
    height: 50px;
    width: 100%;
    background: orange;
    padding: 2px;
    margin: auto;
}
.messageArea{
    background: #666;
    min-width: 100%;
    min-height: 92%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
}
.messageBox{
    min-width: 100%;
    min-height: 50px;
    overflow: auto;
}
.messageSent{
    float: right;
    border-radius: 25px;
    background: dodgerblue;
    max-width: 55%;
    padding: 10px;
}
.messageReceived{
    float: left;
    border-radius: 25px;
    background: forestgreen;
    max-width: 55%;
    padding: 10px;
}
#form {
    background: #3d3d3d;
    width: 100%;
    padding: 0.25rem;
    bottom: 0;
    right: 0;
    display: flex;
    height: 8%;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}
.cover{
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
    position: fixed;
    z-index: 2;
    background-color: gray;
    opacity: 70%;
}
.cover-Text{
    position: absolute;
    left: 40%;
    right: 40%;
    top: 50%;
    bottom: 50%;
    text-align: center;
    font-weight: bold;
}
#cancelNewClient{
    position: absolute;
    left: 40%;
    right: 40%;
    top: 60%;
    text-align: center;
    font-weight: bold;
    background: cornflowerblue;
    padding: 2px;
    margin: auto;
}
#cancelNewClient:hover{
    background-color: red;
}

